.custom-container {
    margin-top: 2rem;
    /* border: 1px solid red; */
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-container .custom-left {
    flex-basis: 38%;
}

.custom-container .custom-left h3 {
    margin: 0;
    font-size: 2.3rem;
    line-height: 1.09;
    font-family: 900;
    text-align: left;
    margin-bottom: 0.8rem;
    color: rgba(39, 45, 56, 1);
}

.custom-container .custom-left p {
    margin: 0;
    text-align: left;
    font-size: 1rem;
    color: rgba(39, 45, 56, 1);
    margin-bottom: 0.8rem;
}

.custom-container .custom-right {
    flex-basis: 30%;
}

.custom-container .custom-right .custom-image-box {
    height: 350px;
    object-fit: contain;
}

.custom-container .custom-right .custom-image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}