.companies-container {
    width: 720px;
    margin: 0 auto;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.companies-container p {
    text-align: center;
    font-size: 0.7rem;
    margin: 0 auto;
    color: rgba(102, 112, 133, 1);
    margin-bottom: 0.4rem;
}

.companies-container .logo-images-container {
    background: rgba(246, 246, 246, 1);
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.companies-container .logo-images-container .img-box {
    object-fit: contain;
}

.companies-container .logo-images-container img {
    width: 90px;
    height: 40px;
    object-fit: contain;
}

.companies-container .logo-images-container .slack {
    width: 90px;
    height: 35px;
    object-fit: contain;
}

.companies-container .logo-images-container .zoom {
    width: 70px;
    height: 35px;
    object-fit: contain;
}

@media only screen and (max-width: 750px) {
    .companies-container {
        width: 500px;
        margin-top: 3rem;
    }

    .companies-container .logo-images-container {
        gap: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .companies-container {
        width: 100%;
        padding: 0.5rem 0.2.5rem;
    }

    .companies-container .logo-images-container {
        gap: 3rem;
    }
}