.home-container {
    margin-top: 3.5rem;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .left-home {
    flex-basis: 35%;
}

.home-container .left-home h3 {
    margin: 0;
    font-size: 2.7rem;
    line-height: 1.09;
    font-family: 900;
    text-align: left;
    margin-bottom: 0.8rem;
    color: rgba(39, 45, 56, 1);
}

.home-container .left-home p {
    margin: 0;
    text-align: left;
    font-size: 1rem;
    color: rgba(39, 45, 56, 1);
    margin-bottom: 0.8rem;
}

.home-container .left-home .button-wrapper {
    display: flex;
    justify-content: flex-start;
}

.home-container .left-home .button-wrapper button {
    background: rgba(142, 173, 213, 1);
    color: #fff;
    width: 28%;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
}

.home-container .right-home {
    /* border: 1px solid black; */
    flex-basis: 32%;
    height: 350px;
    object-fit:cover ;
    /* border: 1px solid red; */
}

.home-container .right-home img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}