.contact-wrapper {
    margin-top: 6rem;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    background: rgba(246, 246, 246, 1);
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    border-radius: 7px;
}

.contact-container .contact-left .contact-image-box {
    height: 400px;
    object-fit: contain;
}

.contact-container .contact-left .contact-image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-container .contact-right {
    flex-basis: 45%;
}

.contact-container .contact-right h3 {
    margin: 0;
    font-size: 2.4rem;
    line-height: 1.09;
    font-family: 900;
    text-align: left;
    margin-bottom: 0.8rem;
    color: rgba(39, 45, 56, 1);
}

.contact-container .contact-right p {
    margin: 0;
    text-align: left;
    font-size: 1rem;
    color: rgba(39, 45, 56, 1);
    margin-bottom: 0.8rem;
}

.contact-container .contact-right .button-wrapper {
    display: flex;
    justify-content: flex-start;
}

.contact-container .contact-right .button-wrapper button {
    background: rgba(142, 173, 213, 1);
    color: #fff;
    width: 33%;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
}